* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Thai";
}
.boxlock{
  margin-top: 30px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}.backgroundlock{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}.toplock{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}.bottomlock{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
}.lefttop{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}.righttop{
  width: 70%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ebecf0;
}.img_baggage img{
  width: 50px;
  height: 50px;
}.contentleft1{
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 3%;
}.contentleft2{
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}.contentleft3{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9fd7ff;
  gap: 2%;
}.contentright1{
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  flex-direction: column;
  padding-left: 5%;
}.bottomright1{
  display: flex;
  align-items: center;
}.bottomright1 img{
  width: 40px;
  height: 40px;
}.topright1{
  display: flex;
}.content-box-right2{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}.box-white{
  background-color: white;
  width: 80%;
  height: 450px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}.topbox{
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
}.mix-text-name{
  width: 200px;
  display: flex;
  gap: 3%;
  font-size: 15px;
}.mix-text-sampara p{
  color: #708090;
}.bottombox{
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  padding-left: 5%;
}.radio-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}.radio-label {
  width: 450px;
  display: flex;
  align-items: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.2s, border-color 0.2s;
  color: #3d3d3d;
  cursor: pointer;
}

.radio-label:hover {
  background-color: #9fd7ff;
}

.radio-input {
  position: absolute;
  opacity: 0;
}

.radio-input:checked + .radio-label {
  background-color: #93c6e9;
  border-color: #ccc;
}

.radio-input:focus + .radio-label {
  outline: 2px solid #ccc;
}

.radio-inner-circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 0.5em;
  transition: border-color 0.2s;
  position: relative;
}

.radio-label:hover .radio-inner-circle {
  border-color: rgb(233, 233, 233);
}

.radio-input:checked + .radio-label .radio-inner-circle {
  border-color: #ccc;
}

.radio-input:checked + .radio-label .radio-inner-circle::after {
  content: '';
  display: block;
  width: 0.5em;
  height: 0.5em;
  background-color: #a0d9ff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-label{
  display: flex;
  justify-content: space-between;
}

.leftbottom{
  display: flex;
  width: 70%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding-left: 3%;
}.mix-text-price{
  display: flex;
  gap: 3%;
}.rightbottom{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightbottom button{
  width: 200px;
  height: 40px;
  color: white;
  font-size: 20px;
  background-color: #0194f3;
  border-radius: 11px;
  border: 0px;
  cursor: pointer;
}

.rightbottom button:hover{
  background-color: #006eb8;
  transition: background-color 0.5s ease;
}

.just-flex{
  display: flex;
  gap: 5%;
}

.for-top-item{
  display: flex;
  justify-content: space-between;
  padding: 3%;
}
.bar{
  width: 100%;
  height: 100px;
  background-color: #ebecf0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
}

.circle1-2-3{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5%;
  gap: 3%;
}

.bar img{
  width: 100px;
  height: 100px;
}

.between-line{
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle1-2-3 p{
  width: 80px;
}

.mix-text-price h1{
  font-size: 25px;
}
.for-button button{
  width: 150px;
  height: 50px;
  background-color: #0194f3;
  cursor: pointer;
  font-size: 20px;
  color: white;
  border-radius: 11px;
  border: none;
}

.for-button{
  margin-top: 50px;
}