*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Noto Sans Thai";
}
.paid-box{
    width: 100%;
    height: 1200px;
    padding-top: 40px;
    font-size: 26px;
    display: flex;
    flex-direction: column;
}
.text-e-ticket{
    font-size: 20px;
    color: #197B9D;
    padding: 10px;
    align-self: center;
    width: auto;
}

.top-content{
    display: flex;
    width: 100%;
    height: 650px;
}
.blue-blox{
    display: flex;
    width: 100%;
    background: #AFD4E1;;
    justify-content: center;
}
/*  */
.box{
    background-color: #f4f4f4;
    width: 80%;
    height: 100%;
    padding-bottom: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.white-box{
    display: flex;
    padding-left: 20px;
    padding-top: 0px;
    padding-right: 30px;
    justify-content: space-between;
}
.top-right{
    padding-right: 40px;
}
.white-box img{
    width: 120px;
    height: 120px;

}
.text-ticket-info-box{
    height: auto;
    background: linear-gradient(180deg, rgba(180, 219, 255, 0.20) 0%, #D6EDFE 100%);
}
table-head{
    padding-left: 20px;
    font-size: 20px;
}
.name-box,.booking-id-box{
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 300px;
    padding-top: 10px;
    font-weight: 100;
}
.aircraft-id{
    padding-left: 20px;
}
.important-info{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.dpt-arv{
    display: flex;
    justify-content: space-between;
}
.dpt-time,.arv-time,.reserv-id{
    font-size: large;
}
.dpt-box{
    padding-right: 5px;
}
.arv-box{
    padding-left: 5px;
}
.dpt-arv-line{
    display: flex;
    justify-content: flex-start;
}
.dpt-airport,.arv-airport,.reserv-info{
    font-size: large;
    color: #7a7a7a;
}
.blank-circle,.fill-circle{
    margin-top: 14.5px;
}
/* table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 10px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.left-box{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* right box */

.right-box{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-airplane{
    padding-left: 30px;
    color: #888;
    font-family: Noto Sans Thai;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 460px;
    height: 390px;
}

.booking-number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.travelinfo{
    padding-top: 20px;
}
.flight-in-travelinfo{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.fromto{
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    font-size: 15px;
}
pblack{
    padding-right: 10px;
}
pgrey{
    color: black;
    padding-right: 20px;
}
pname{
    color: #635E5E;
}
.passenger{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 10px;
}

.backtohomeframe{
    display: flex;
    width: 182px;
    height: 38px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    background-color: #1F97D4;
    color: #FFF;
    border-radius: 8px;
    text-align: center;
}

#backtohome:hover{
    cursor: pointer;
}

.for-space{
    height: 300px;
    background-color: #f4f4f4;
}

.total-price{
    font-size: medium;
    background-color: #f4f4f4;
    text-align: right;
    padding-right: 5%;
}
.header-paid{
    display: flex;
    padding-left: 5%;
}
.bottom-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}
.text-aircraft{
    display: flex;
}
.text-aircraft p{
    font-size: 18px;
}
.text_date{
    color: #7a7a7a;
}
.text-airid{
    color: #7a7a7a;
    font-size: 18px;
}