* {
  font-family: "Noto Sans Thai";
}

.seat {
  width: 50px;
  height: 50px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.seat-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-wrapper-1 .checkbox-tile .reserved {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  min-height: 45px;
  border-radius: 0.5rem;
  border: 2px solid #0e2c50;
  background-color: #b0b19f;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.reserved {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  min-height: 45px;
  border-radius: 0.5rem;
  border: 1px solid #ff0d59;
  background-color: #c83342;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

#seatContainer {
  text-align: centerrgb(255, 0, 0)
  
}.one-for-all{
  width: 100%;
  height: 100%;
  display: flex;
}

.passengerList{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seat_plane{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.seat_contentright{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box_list{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-passenger{
  width: 100%;
  height: 100%;
  border-radius: 11px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  box-shadow: 15px 15px 30px #bebebe,
  -15px -15px 30px #ffffff;
}
.box_duo{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header2-seatpair{
  width: 100%;
  height: 180px;
  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 11px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  box-shadow: 15px 15px 30px #bebebe,
  -15px -15px 30px #ffffff;
}

.button_gogo{
  display: flex;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.button_gogo button{
  width: 150px;
  height: 50px;
  background-color: #e53c4a;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 11px;
  font-size:15px;
}

.button_gogo button:hover{
  background-color: #a32c36;
  transform: background-color 0.8s ease;
}

.plane {
  margin: 20px auto;
  width: 50%;
}.aircraft{
  width: 40%;
}.cockpit {
  height: 250px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-bottom: 5px solid #d8d8d8;
}
.cockpit:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  border-radius: 50%;
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}
.cockpit h1 {
  width: 60%;
  margin: 100px auto 35px auto;
}.row--customer {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.checkbox-wrapper-1 *,
  .checkbox-wrapper-1 *:after,
  .checkbox-wrapper-1 *:before {
  box-sizing: border-box;
}

.checkbox-wrapper-1 .checkbox-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox-wrapper-1 .checkbox-input:checked + .checkbox-tile {
  border-color: #3377c8;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #3377c8;
  background-color: rgb(163, 163, 163);
}

.checkbox-wrapper-1 .checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  transform: translate(-5px,-6px);
  opacity: 1;
  background-color: #3377c8;
  border-color: #3377c8;
  color: #fff;
  content: "✓";
}

.checkbox-wrapper-1 .checkbox-input:checked + .checkbox-tile,
  .checkbox-wrapper-1 .checkbox-input:checked + .checkbox-tile .checkbox-label {
  color: #3377c8;
}

.checkbox-wrapper-1 .checkbox-input:focus + .checkbox-tile {
  border-color: #3377c8;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.checkbox-wrapper-1 .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  min-height: 45px;
  border-radius: 0.5rem;
  border: 2px solid #3377c8;
  background-color: #3377c8;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.checkbox-wrapper-1 .checkbox-tile:before {
  content: "";
  font-size: 12px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #b5bfd9;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.checkbox-wrapper-1 .checkbox-tile:hover {
  border-color: #3377c8;
}

.checkbox-wrapper-1 .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  min-height: 45px;
  border-radius: 0.5rem;
  border: 2px solid #3377c8;
  background-color: #3377c8;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}
.checkbox-wrapper-1{
  transition: 0.375s ease;
  color: #494949;
}


.checkbox-wrapper-1 .checkbox-label {
  color: #ffffff;
  transition: 0.375s ease;
  text-align: center;
}

.fuselage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}
.row{
  display: flex;
}

.checkbox-wrapper-2 .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  min-height: 45px;
  border-radius: 0.5rem;
  border: 2px solid #fe883c;
  background-color: #fe883c;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.checkbox-wrapper-2 .checkbox-tile:before {
  content: "";
  font-size: 12px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #b5bfd9;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.checkbox-wrapper-2 .checkbox-tile:hover {
  border-color: #fe883c;
}



.checkbox-wrapper-2{
  transition: 0.375s ease;
  color: #494949;
}


.checkbox-wrapper-2 .checkbox-label {
  color: #ffffff;
  transition: 0.375s ease;
  text-align: center;
}

.checkbox-wrapper-2 *,
  .checkbox-wrapper-2 *:after,
  .checkbox-wrapper-2 *:before {
  box-sizing: border-box;
}

.checkbox-wrapper-2 .checkbox-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox-wrapper-2 .checkbox-input:checked + .checkbox-tile {
  border-color: #fe883c;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fe883c;
  background-color: rgb(163, 163, 163);
}

.checkbox-wrapper-2 .checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  transform: translate(-5px,-6px);
  opacity: 1;
  background-color: #fe883c;
  border-color: #fe883c;
  color: #fff;
  content: "✓";
}

.checkbox-wrapper-2 .checkbox-input:checked + .checkbox-tile,
  .checkbox-wrapper-2 .checkbox-input:checked + .checkbox-tile .checkbox-label {
  color: #fe883c;
}

.checkbox-wrapper-2 .checkbox-input:focus + .checkbox-tile {
  border-color: #fe883c;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}



.checkbox-wrapper-3 .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  min-height: 45px;
  border-radius: 0.5rem;
  border: 2px solid #3eb6bc;
  background-color: #3eb6bc;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.checkbox-wrapper-3 .checkbox-tile:before {
  content: "";
  font-size: 12px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #b5bfd9;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.checkbox-wrapper-3 .checkbox-tile:hover {
  border-color: #3eb6bc;
}
.checkbox-wrapper-3{
  transition: 0.375s ease;
  color: #494949;
}


.checkbox-wrapper-3 .checkbox-label {
  color: #ffffff;
  transition: 0.375s ease;
  text-align: center;
}

.checkbox-wrapper-3 *,
  .checkbox-wrapper-3 *:after,
  .checkbox-wrapper-3 *:before {
  box-sizing: border-box;
}

.checkbox-wrapper-3 .checkbox-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox-wrapper-3 .checkbox-input:checked + .checkbox-tile {
  border-color: #3eb6bc;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #3eb6bc;
  background-color: rgb(163, 163, 163);
}

.checkbox-wrapper-3 .checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  transform: translate(-5px,-6px);
  opacity: 1;
  background-color: #3eb6bc;
  border-color: #3eb6bc;
  color: #fff;
  content: "✓";
}

.checkbox-wrapper-3 .checkbox-input:checked + .checkbox-tile,
  .checkbox-wrapper-3 .checkbox-input:checked + .checkbox-tile .checkbox-label {
  color: #3eb6bc;
}

.checkbox-wrapper-3 .checkbox-input:focus + .checkbox-tile {
  border-color: #3eb6bc;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}
