*{
  font-family:"Noto Sans Thai";
}

.seat {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #ccc;
  border: 2px solid #000;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

#economy {
  background: radial-gradient(circle at center, transparent, #4CAF50); 
}

#business {
  background: radial-gradient(circle at center, transparent, #007BFF); 
}

#first {
  background: radial-gradient(circle at center, transparent, #FFA500); 
}


.seat-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selected {
  background-color: #f00; /* สีแสดงที่นั่งที่ถูกเลือก */
}

.reserved {
  background-color: #999; /* สีแสดงที่นั่งที่ถูกจอง */
}

#seatContainer {
  text-align: center;
  
}.one-for-all{
  width: 100%;
  height: 100%;
  display: flex;
}

.passengerList{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seat_plane{
  width: 40%;
  height: 100%;
}

.seat_contentright{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box_list{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-passenger{
  width: 100%;
  height: 100%;
  border-radius: 11px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  box-shadow: 15px 15px 30px #bebebe,
  -15px -15px 30px #ffffff;
}
.box_duo{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header2-seatpair{
  width: 100%;
  height: 180px;
  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 11px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  box-shadow: 15px 15px 30px #bebebe,
  -15px -15px 30px #ffffff;
}

.button_gogo{
  display: flex;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.button_gogo button{
  width: 150px;
  height: 50px;
  background-color: #e53c4a;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 11px;
  font-size:15px;
}

.button_gogo button:hover{
  background-color: #a32c36;
  transform: background-color 0.8s ease;
}

.checkbox-wrapper-16 *,
  .checkbox-wrapper-16 *:after,
  .checkbox-wrapper-16 *:before {
  box-sizing: border-box;
}

.checkbox-wrapper-16 .checkbox-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #2260ff;
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #2260ff;
  border-color: #2260ff;
  color: #fff;
  content: "✓";
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-icon,
  .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-label {
  color: #2260ff;
}

.checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  min-height: 7rem;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.checkbox-wrapper-16 .checkbox-tile:before {
  content: "";
  font-size: 12px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #b5bfd9;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.checkbox-wrapper-16 .checkbox-tile:hover {
  border-color: #2260ff;
}

.checkbox-wrapper-16 .checkbox-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-icon {
  transition: 0.375s ease;
  color: #494949;
}

.checkbox-wrapper-16 .checkbox-icon svg {
  width: 3rem;
  height: 3rem;
}

.checkbox-wrapper-16 .checkbox-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
}